<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Geode</string>
	<key>CFBundleName</key>
	<string>Geode</string>
	<key>CFBundleExecutable</key>
	<string>Geode</string>
	<key>CADisableMinimumFrameDuration</key>
	<true/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Geode</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>GeodeIcon20x20</string>
					<string>GeodeIcon40x40</string>
					<string>GeodeIcon60x60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Pride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PrideIcon20x20</string>
					<string>PrideIcon40x40</string>
					<string>PrideIcon60x60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Lesbian</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LesbianIcon20x20</string>
					<string>LesbianIcon40x40</string>
					<string>LesbianIcon60x60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Gay</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>GayIcon20x20</string>
					<string>GayIcon40x40</string>
					<string>GayIcon60x60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Bi</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BiIcon20x20</string>
					<string>BiIcon40x40</string>
					<string>BiIcon60x60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Trans</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>TransIcon20x20</string>
					<string>TransIcon40x40</string>
					<string>TransIcon60x60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Pan</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PanIcon20x20</string>
					<string>PanIcon40x40</string>
					<string>PanIcon60x60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Nonbinary</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>NonbinaryIcon20x20</string>
					<string>NonbinaryIcon40x40</string>
					<string>NonbinaryIcon60x60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Asexual</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AsexualIcon20x20</string>
					<string>AsexualIcon40x40</string>
					<string>AsexualIcon60x60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Genderfluid</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>GenderfluidIcon20x20</string>
					<string>GenderfluidIcon40x40</string>
					<string>GenderfluidIcon60x60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Perfection</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PerfectionIcon20x20</string>
					<string>PerfectionIcon40x40</string>
					<string>PerfectionIcon60x60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Sapphire</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>SapphireIcon20x20</string>
					<string>SapphireIcon40x40</string>
					<string>SapphireIcon60x60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Geode</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>GeodeIcon60x60</string>
					<string>GeodeIcon76x76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Pride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PrideIcon60x60</string>
					<string>PrideIcon76x76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Lesbian</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LesbianIcon60x60</string>
					<string>LesbianIcon76x76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Gay</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>GayIcon60x60</string>
					<string>GayIcon76x76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Bi</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BiIcon60x60</string>
					<string>BiIcon76x76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Trans</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>TransIcon60x60</string>
					<string>TransIcon76x76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Pan</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PanIcon60x60</string>
					<string>PanIcon76x76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Nonbinary</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>NonbinaryIcon60x60</string>
					<string>NonbinaryIcon76x76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Asexual</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AsexualIcon60x60</string>
					<string>AsexualIcon76x76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Genderfluid</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>GenderfluidIcon60x60</string>
					<string>GenderfluidIcon76x76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Perfection</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PerfectionIcon60x60</string>
					<string>PerfectionIcon76x76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Sapphire</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>SapphireIcon60x60</string>
					<string>SapphireIcon76x76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.geode.launcher</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleVersion</key>
	<string>1.5.4</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.4</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
		<string>opengles-1</string>
	</array>
	<key>UILaunchImageFile</key>
	<string>LaunchImage</string>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700-568h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-Portrait</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-Landscape</string>
			<key>UILaunchImageOrientation</key>
			<string>Landscape</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-667h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 667}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-Portrait-736h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-Landscape-736h</string>
			<key>UILaunchImageOrientation</key>
			<string>Landscape</string>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
		</dict>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.geode.launcher.urlscheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>geode</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>sidestore</string>
		<string>stikjit</string>
		<string>geode</string>
		<string>geode-helper</string>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>GCSupportedGameControllers</key>
	<array>
		<dict>
			<key>ProfileName</key>
			<string>DirectionalGamepad</string>
		</dict>
		<dict>
			<key>ProfileName</key>
			<string>ExtendedGamepad</string>
		</dict>
		<dict>
			<key>ProfileName</key>
			<string>MicroGamepad</string>
		</dict>
	</array>
	<key>GCSupportsControllerUserInteraction</key>
	<true/>
	<key>GCSupportsGameMode</key>
	<true/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>external-accessory</string>
		<string>fetch</string>
		<string>nearby-interaction</string>
		<string>remote-notification</string>
	</array>
	<key>SBAppUsesLocalNotifications</key>
	<integer>1</integer>

	<!-- Permissions -->
	<key>NSMicrophoneUsageDescription</key>
	<string>A mod you are using is requesting this permission.</string>
	<key>NSCameraUsageDescription</key>
	<string>A mod you are using is requesting this permission.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This permission is needed for accessing the JIT server.</string>

	<!-- Handling .geode files -->
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Geode Mod</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.geode.launcher.mod</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Geode Mod</string>
			<key>UTTypeIdentifier</key>
			<string>com.geode.launcher.mod</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>geode</string>
				<key>public.mime-type</key>
				<string>application/x-geode</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
